h2.component {
 background-color: brown;
 width:250px;
 border: 1px solid brown;
 border-radius: 1rem;
 margin-left: auto;
 margin-right: auto;
 cursor:pointer;
 box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.685);
}

h2.component:active{
    box-shadow: 5px 10px 5px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(5px);
  }