/* **********Reset********** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

body {
  line-height: 1.5;
}

/*img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}*/

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*#root, #__next {
    isolation: isolate;
  } */

/* **********Fin Reset********** */
body{
    font-family: roboto;
    background-color: rgb(44, 44, 148);
    color: rgba(255, 255, 255, 0.678);
}

  .red {
    background-color: rgba(255, 0, 0, 0.74);
    border-radius: 0.3rem;
  }
  
  .green {
    background-color: rgba(0, 128, 0, 0.61);
    border-radius: 0.3rem;
  }

div{
  text-align: center;
}

.btn {
  cursor:pointer;
  margin:1rem;
 }
